body{


    background-color: blue;

}

header{

    display: flex;
    background-color: black(210, 146, 205);
    justify-content: space-between;
    padding: 20px;
}

.cabecalho_menuitem{

    display: inline;
    text-transform: uppercase;
    margin-left: 20px;
}

.cabecalho_imagem{

width: 200px;
height: 200px;
border-radius: 50px;

}

